*
{
    margin:0;
    padding:0;
    line-height: 1.6em;
    box-sizing:border-box;
}

*, *:after, *:before
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
body
{
    background-color: #F5EDDF;
}

h1, h2, h3
{
    font-family: 'Montserrat', sans-serif;
}

h3 
{
    font-size:2em;
    padding:20px 0;
    color:#22272C;
}

p, li, a
{
    font-family: 'Roboto', sans-serif;
}

p{
    line-height: 2em;
}

a
{
    text-decoration: none;
}

li
{
    list-style-type: none;
    display: inline;
}

.container
{
    /* padding-right: 25px;
    padding-left: 25px; */
    padding:0 250px;
    /* margin-right: auto;
    margin-left: auto; */
}

header
{
    width: 100%;
    height: 110px;
    
    position: fixed;
    background-color:#F5EDDF;
    border-bottom:1px solid #22272C;
    z-index: 10;
}

nav{
    padding:50px 0 50px 0;
}

nav a{
    font-weight:bold;
    letter-spacing: 1px;
    font-size:1.1em;
    color:#22272C
}

nav a:hover
{
    transition: all 0.3s;
    color:#F44E27;
}

nav li
{
    margin-right:30px;

}

main 
{
    width:100%;
    /* padding:0 30px; */
    margin:auto 0;
    padding-top:110px;

}

#about
{
    background-color: #22272C;
    padding-top:50px;
    padding-bottom:50px;
}

#about h1, #about i, #achievements h3{
    color:#BFD7EA;
}

#about h1{
    font-size: 2em;
}

#about h2
{
    font-size:1em;
    font-weight:normal;
    margin-bottom:20px;
}

#about em, #about p:nth-of-type(2) a{
    color:#F44E27;
}

#about p, #about h2
{
    color:#f6f6f6;
}

#about p
{
    font-size:1.1em;
    
}

#about p:nth-of-type(2){
    text-align: center;
    padding:25px;
}


.aboutSocialButtons
{
    width:100%;
    text-align: center;
}

#about ul
{
   display:inline-block;
}

.aboutSocialButtons li
{
    margin-left:15px;
}

#projects, #posts, #achievements, #technologies
{
    width: 100%;
    /* background-color: steelblue; */
    margin:50px 0;
}

.project
{
    margin-bottom:100px;
}

.projectInfo
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.projectTitle
{
    justify-self: center;
    align-self: center;
    text-align: center;
    
}

.projectTitle h4
{
    color:#22272C;
    font-size:2.5em;
    line-height: 1.2em;
    padding-bottom:15px;
}

.projectStack
{
    width:100%;
    margin:0 auto;
    text-align: center;
}

.projectStack i
{ 
    margin:0 15px;
}

.projectImage img
{
    width:650px;
    border-radius:10px;
    box-shadow: 3px 3px 1px #22272C;
}

.projectBtn
{
    display: inline-block;
    text-align: center;
    width:150px;
    font-size: 1.2em;
    padding:10px;
    border-radius: 5px;
    border: 1px solid #22272C;
    box-shadow:4px 4px 1px #22272C;
    color:#22272C;
    background-color: #f6f6f6;
}   

.projectDesc
{
    padding:30px 0;
}

.projectBtn:hover
{
    background-color: #22272C;
    color:#BFD7EA;
    transition: all 0.3s;
}

.live 
{
    background-color:#d84a24;
    margin-right:30px;
    color:#f6f6f6;
}

.btnViewMore
{
    background-color:#EC4C27;
    color:#fff;
    padding:10px 15px;
    border-radius:5px;
    box-shadow: 1px 3px 3px #000;
    width:180px;
    margin:0 auto;
    display: block;
    text-align: center;
}

/* achievements */
#achievements
{
    background-color: #22272C;
    padding-bottom:50px;
}

.timeline {
    margin: 0px auto;
    max-width: 50em;
    overflow:hidden;
    height: auto;
    position: relative;
    padding-bottom:30px;
    list-style-type:none;
    z-index: 5;
}

.year {
    background-color: #22272C;
    font-size: 3em;
    max-width: 4em; 
    clear: both; 
    margin: 1em auto 2em;
    color: white;
    border-radius: 30% / 100%;
    text-align: center;
    margin-top: 2em;
}

.year:first-of-type {
    margin-top: 0 !important;
}

.event {
    position:relative;
    /* text-align:center; */
    float: right;
    clear: right; 
    width: 45%;
    margin: 1em 2.5%;
    margin:20px 0;
    
    border-radius: 5px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: .5em;
    background: white;
    z-index: 15;
    
    color: rgb(77, 77, 77);
    /* border: 1px solid lighten(rgb(80,80,80),30%); */
    border:3px solid #EC4C27;
    text-decoration: none;

    -webkit-transition: background .15s linear;
    -moz-transition: background .15s linear;
    -ms-transition: background .15s linear;
    -o-transition: background .15s linear;
    transition: background .15s linear;
}

.event p{
    line-height: 1.6em;
}

.event.offset-first {
    margin-top: 5.5em!important;
}

.event:nth-of-type(2n) {
    float: left;
    clear: left;
}

.event:nth-child(2n):after {
    right: -5%;
    left: auto;
}

.date, .tag{
    width: max-content;
}

.event:hover {
    background: lighten(rgb(80,80,80)60%);
}

.event:after {
    background: rgb(80,80,80);
}

  /* Original Timeline */
#timelineContainer{
    display:grid;
    grid-template-columns: 1fr;
}

.timelineItem:nth-child(even){
    justify-self: right;
}

.timelineItem:nth-child(odd){
    justify-self: left;
}

.timelineItem{
    background-color: #fff;
    width:50%;
    padding:20px;
    box-shadow: 0 2px 3px #22272C;
}
 /* end */
 
.tag{
    padding:0 10px;
    border-radius: 5px;
    color:#F5EDDF;
    -webkit-text-stroke: thin #fff;
    font-size: 1.1em;
}

.date{
    font-size: 0.93em;
}

#technologies{
    
}

.techContainer
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.techItem
{
    background-color:#22272C;
    margin:5px;
    padding:15px 0;
    border-radius:5px;
    width: 200px;
    text-align:center;
    box-shadow: 0px 2px 3px #000
}

.techItem p
{
    color:#F5EDDF;
    font-size:0.8em;
}

.icon 
{
    padding-bottom:10px;
}

footer p 
{
    text-align: center;
    padding:30px 0;
}

/*  MEDIA QUERIES */

/* Mobile */
@media all and (max-width: 768px) 
{
    /* body{
        background-color: red;
    } */

    h3{
        text-align: center;
    }

    .container 
    {
      /* width: 750px; */
      padding:0 50px;
    }

    .projectInfo
    {
        display: grid;
        grid-template-columns: 1fr;
    }

    .projectImage img
    {
        width:100%;
        /* border-radius:10px;
        box-shadow: 3px 3px 1px #22272C; */
    }

    .timeline{
        width: 100%;
        text-align: center;
    }

    .event.offset-first
    {
        margin-top: 0.5em!important;
    }

    .event
    {
        display: inline-block;
        position: initial;
        float: none;
    }

    .event:nth-of-type(2n)
    {
        float: none;
    }

    .techContainer
    {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 600px) {
    .event{
        width: 85%;
    }

    /* body{
        background-color:blue;
    } */
    
}  


/*  IPAD PRO */
@media (max-width: 1199px) 
{
    .container 
    {
      /* width: 1200px; */
      padding:0 50px;
    }

    /* body{
        background-color:yellow;
    } */

    .projectImage img
    {
        width:100%;
    }
}

@media (min-width: 1200px) 
{
    .container 
    {
      /* width: 1200px; */
    }

        /* body{
        background-color:pink;
    } */
}


@media all and(min-width:600px){
    .event:nth-of-type(2n) {
        margin-top:2em;
    }
}

/* Timeline ball */
@media all and (min-width: 650px) {
    .event:after{
        display: block;
        content: ' ';
        height: 9px; width: 9px;
        background: lighten(rgb(80,80,80),30%);
        border-radius: 50%;
        position:absolute;
        left: -5%;
        top: 4.5em;
        border: 2px solid white;
    }
  }